@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
   font-size: 17px;
}

body{
    background-image: radial-gradient(circle at 49.38% 48.93%, #003886 0, #3c78f2 50%, #7598d4 100%);
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: #f1f1f1;
    margin: 25px 0;
    font-size: 50px;
}

h2{
    color: #f1f1f1;
    margin-bottom: 20px;
}

#text{
    width: 60vw;
    margin-left: 20vw;
    font-weight: 600;
}

.info{
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
}

.tec-text{
    color: #f1f1f1;
    margin-bottom: 20px;
}

.tec{
    margin-bottom: 20px;
    width: 66vw;
    height: 160px;
    overflow: hidden;
    white-space: nowrap;
}

.tec-imgs{
    display: inline-block;
    height: 160px;
    animation: animated 10s linear infinite;
}

.skills{
    width: 150px;
}

@keyframes animated {
    100%{
        transform: translateX(-100%);
    }
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-container{
    align-items: center;
    justify-content: center;
}

.projects{
    width: 35vw;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-color: #7598d4;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.projects::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 300%;
    bottom: -19vw;
    left: calc(50% - 10vh);
    background: #a2f7ff;
    
    animation: animate 4s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
    
}

.projects::after{
    content: "";
    position: absolute;
    inset: 6px;
    border-radius: inherit;
}

.projects img{
    z-index: 1;
    position: relative;
    width: 34.4vw;
    height: 38.5vh;
    border-radius: 15px;
    top: -3%;
    left: -1.3%;
}

.links{
    margin-left: 20px;
    margin-bottom: -16px;
}

.links span{
    color: #000;
    padding: 5px;
    font-weight: 700;
}

.links a{
    color: #000;
    font-weight: 500;
    padding: 5px;
}